/* BitcoinHeader.css */

.bitcoin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto; /* Center the title */
  }
  
  .dropdown {
    cursor: pointer;
    position: relative;
  }
  
  .dots {
    font-size: 20px;
  }
  
  .options {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  
  .options div {
    padding: 10px;
    cursor: pointer;
  }
  
  .options div:hover {
    background-color: #f0f0f0;
  }
  